<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="/static/js/users.js"></script>
  </head>



<body class="text-center">
<main class="form-signin">
  <form action="/users/signupProcess/" method="post">
    {% csrf_token %}


    {% if err_msg %}
        <h1 class="h3 mb-3 fw-normal">{{ err_msg }}</h1>
                    {% else %}
            <h1 class="h3 mb-3 fw-normal">Please SignUp</h1>
    {% endif %}
    <label for="inputId" class="visually-hidden">Username</label>
    <input type="text" id="inputId" name="inputId" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword1" class="visually-hidden">Password1</label>
    <input type="password" id="inputPassword1" name="inputPassword1" class="form-control" placeholder="Password " required>
    <label for="inputPassword2" class="visually-hidden">Password2</label>
    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Password Confirmation" required>

    <div class="checkbox mb-3">
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Create account</button>
      <br><br>
  </form>
</main>
</body>
</html>
